.main_portfolio{height: 130px;
    background-color:rgb(241, 245, 15);
    padding: 16px;
}
.txt-input{
    background-color: rgb(225, 247, 240)
}
.main{
    height: 140;
    background-color:rgb(245, 15, 84);
    padding: 30px;
}
#translate{
    background-color: rgb(245, 15, 92);
    color: black;
}
.tra{
    background-color:rgb(236, 186, 22) ;
}



#txt-input{
    border: 3px solid rgb(245, 15, 214);
}